
<<<<<<< HEAD
body {
    background-color:#9900FF;
}
#eagleLogo {
	float: right;
}
h1 {
    color:red;          
}
h2 {
    color:white;
    font-family:cursive;
}
.eslr title {
  font-weight: bold;
}
a:hover {
    font-weight: bold;
    border: 1px;
}
a {
    color:black
}
=======

#eaglelogo {
	position:right 50px;
	}
	
h1 {
	color:blue;
	
}

.eslrTitle {
	color: green;
	font-weight:bold;
	}
	
a:hover {
	background-color: purple;
	color:black;
	font-weight:bold;
	}
>>>>>>> FETCH_HEAD
